<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- title th:text=${authors.pageTitle}>Simple Web - Authors listing</title -->
<title>Simple Web - Authors listing</title>
</head>
<body>
	<table>
		<tr>
			<td>Id</td>
			<td>Last Name</td>
			<td>First Name</td>
			<td>Books</td>
		</tr>
		<tr th:each="author : ${authors}">
			<td th:text="${author.id}"/>
			<td th:text="${author.lastName}"/>
			<td th:text="${author.firstName}"/>
			<td th:text="${author.books}"/>
		</tr>
	</table>
</body>
</html>