<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recipe Home</title>
	<link  th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}"></link>    
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
	<div class="row">
		<div class="col-md-6 col-md-offect-3">
			<div class="panel-primary">
				<div class="panel-heading"><h1 th:text="'Recipe home page'"></h1></div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">				
						<table class="table table-hover">
							<thead class="thead-inverse">		
								<tr>
									<th>ID</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<!--/*@thymesVar id="recipe" type="net.matrix.recipe.models.Recipe"*/-->
							
								<tr th:each="recipe: ${recipes}">
									<td><a href="#" th:href="@{'/recipe/show/'+ ${recipe.id}}" th:text="${recipe.id}">View</a></td>
									<td th:text="${recipe.description}">recipeDescription</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>